{% extends "layout.njk" %}

 {% block log %}
         <a  href="teacher/create"><img src="/imagens/log-in.svg" alt="login">Cadastrar</a>
    {% endblock log %}

{% block content %}

{% block filter %}
    <div class="seacherFilter">
    <form action="/teacher" method="GET">
            <input 
            type="text"
            name="filter"
            placeholder="Filtrar por nome ou atendimento"
            value="{{filter}}">
         <button class="filter" type="submit"><img src="/imagens/search.svg" alt=""></button>
    </form>
  </div>  
{% endblock filter %}

    <section class="card table-container">
        <table width="100%">
            <thead>
                <tr>
                    <th>Professores</th>
                    <th>Atendimento</th>
                    <th>Alunos</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                
                {% for teacher in teachers %}
                <tr>
                    <td><span style="background-image:url({{teacher.avatar_url}})"></span>
                    {{teacher.name}}
                    </td>

                    <td >
                    {% for service in teacher.services %}
                        {{service}}
                    {% endfor %}
                    </td>

                    <td>{{teacher.total_students}}</td>

                    <td><a href="teacher/{{teacher.id}}">Ver</a></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>

    </section>

{% endblock content %}

