{% extends "layout.njk" %}

{% block content %}

    <section class="card">
        <div class="img-url"  ></div>
        <div class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Professor</div>
                <div>Guilherme Santos</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>27 anos</div>
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <div>Doutorado</div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>Presencial</div>
            </div>

            <div class="item">
                <div>acompanhamento</div>
                <div>
                    <span>Matematica</span>
                    <span>Fisica</span>
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>01/01/2020</div>
            </div>

        </div>

    </section>

{% endblock content %}