<div class="item">
    <div>Avatar URL</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://" value="{{teacher.avatar_url}}">
    </div>
</div>

<div class="item">
    <div>Professor</div>
    <div>
        <input type="text" name="name" placeholder="Nome completo" value="{{teacher.name}}">
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input type="date" name="birth" value="{{teacher.birth}}">
    </div>
</div>

<div class="item">
    <div>Grau de Escolaridade</div>
    <div>
        <select name="escolaridade">
            <option value="superior">Superior Completo</option>
            <option value="mestrado">Mestrado</option>
            <option value="doutorado">Doutorado</option>
        </select>

    </div>
</div>

<div class="item">
    <div>Tipo de Aula</div>
    <div>
        <span>
            <input type="radio" name="availability" id="availabilityP" value="P" {% if teacher.availability == "P"   %} checked {% endif %}>
            <label for="availabilityP">Presencial</label>
        </span>
        <span>
            <input type="radio" name="availability" value="O" {% if teacher.availability == "O"   %} checked {% endif %} id="availabilityO">
            <label for="availabilityO">Online</label>
        </span>
    </div>
</div>

<div class="item">
    <div>Area de atuação</div>
    <div>
        <input type="text" name="services" placeholder="Separe os serviços prestados por virgula" value="{{teacher.services}}">
    </div>
</div>
