@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');
:root {
    --blue-primary: rgba(0, 216, 245, 0.678);
    --blue-secundary: rgb(13, 150, 230);
    --blue-terceiro: rgb(24, 138, 184);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url(./imagens/bg-colegio.svg) no-repeat center center/cover;
    background-attachment: fixed;
}

header {
    
    width: 100vw;
    background-color: rgb(0, 0, 0);
    padding: 32px;
    justify-content: center;
    z-index: 999;
}

header .menu a+a {
    margin-left: 20px;
}

header .menu a {
    font-size: 15pt;
    text-decoration: none;
    color: white;
    position: relative;
    font-weight: 300;
    position: relative;
}

.menu a.active {
    font-weight: bold;
}

header a:hover {
    color: var(--blue-secundary);
}

.menu{
    display: flex;
    justify-content: center;
    
}

.menu a::after {
    content: "";
    font-size: 20px;
    width: 0;
    height: 2px;
    background-color: var(--blue-primary);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.menu a:hover::after {
    width: 100%;
    transition: all 700ms ease-in-out;
}

.menu a:nth-child(3){
  
    display: flex;
    align-items: center;
    text-align: right;
}

.menu a:nth-child(3) img{
    margin-right: 10px;

    height: 25px;
}

/*=====content=====*/

.card {
    width: 800px;
    min-height: 400px;
    background-color: rgb(24, 138, 184);
    margin: 70px auto;
    display: grid;
    box-shadow: 2px 3px 6px 1px black;
    grid-template-columns: 1fr 1.3fr;
    animation-name: up;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
}

@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
    }
}

.card .img-url {
    background: url(https://source.unsplash.com/collection/517198/900x900);
    width: 100%;
}

.details {
    padding: 32px;
}
.put{
    position: relative;
}

.details .item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0 8px;
}

.details .item:first-child {
    border: none;
}

.details h3, .details .item div:nth-child(1) {
    margin-top: 8px;
    font-size: 14px;
    line-height: 24px;
    color: rgb(16, 7, 146);
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.item span {
    padding: 8px 16px;
    background-color: var(--blue-primary);
    border-radius: 16px;
    color: black;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/*=====create=====*/


input {
    width: 100%;
    outline: none;
    border: none;
    color: rgb(0, 0, 0);
    background-color: var(--blue-terceiro);
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}

select {
    width: 100%;
    height: 25px;
    border: none;
    background-color: var(--blue-terceiro);
    outline: none;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"] {
    width: initial;
    font-weight: normal;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
    color: black
}

button[type="submit"], .buttom {
    padding: 8px 32px;
    background-color: var(--blue-primary);
    color: black;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 10px;
    font-weight: bold;
    opacity: 1;
    cursor: pointer;
    
       
}

button+button {
    margin-left: 10px;
    display: inline-block;
}

.buttom {
    display: block;
    text-align: center;
    text-decoration: none;
}

.put .btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.details .enviar {
    width: 100%;

}

.card .put .delete{
    width: 41.1%;
    position: absolute;
    left:235px;
    bottom: 32px;
    background-color: rgba(207, 27, 27, 0.781);
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
}
button[type="submit"], .buttom,
.card .put .delete:hover{
  opacity: 0.7;

}

.card .put .salvar{
    width: 50%;
}


/*=====responsive=====*/

@media (max-width:865px) {
    .card {
        width: 85vw;
        display: flex;
        flex-direction: column;
    }
    body {
        position: relative;
    }
    .card .img-url {
        height: 200px;
    }

    .card .put .salvar{
        display: flex;
        justify-content: center;
        width: 40%;
        left:165px;

    }

    .card .put .delete{
        display: flex;
        justify-content: center;
        width: 32%;
        left:150px;
    
    }
}

/*=======table=======*/

.table-container{
    display: block;
    padding: 40px;
    box-sizing: border-box;
 
}
.table-container table{
    border-spacing: 0;
}

.table-container thead{
    text-align: left;
}

td, th{
    padding: 16px;
    border-bottom: 1px solid #b4adad9d;
    text-align: center;
}

td{
    padding: 16px 0;
    height: 90px;
}

th{
    text-transform: uppercase;
    color: var(--blue-primary);
    font-size: 14px;
}

th:nth-child(2){
    text-align: center;
}

th:nth-child(3){
    text-align: center;
    padding-left:0 ;
}


tbody tr:last-child td{
    border: none;
}
tbody tr td:first-child{
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span{
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow:  3px 1px 6px -4px black;
    border: 1px solid white;
}

tbody tr td:last-child a{
    background-color: var(--blue-primary);
    padding: 8px 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 12px;
    border-radius: 4px;

}

.table-container thead tr th:last-child,
td :last-child{
    text-align: center;
}

tbody tr td:nth-child(2) .border {
    padding: 8px 16px;
    background-color: yellow;
    border-radius: 16px;
    color: black;
    margin-right: 4px;
    margin-top: 8px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
  
}

