{% extends "layout.njk" %}

 {% block log %}
         <a  href="/students"><img src="/imagens/arrow-left.svg" alt="login"> Voltar</a>
{% endblock log %}


{% block content %}

    <form class="card" method="POST" action="/students">
        <div class="img-url"><img src="{{student.avatar_url}}" alt=""></div>
        <div class="details">
            <h3>Novo Aluno</h3>

            {%include "students/fields.njk"%}

            <button class="enviar" type="submit">Enviar</button>
        </div>
    </form>


{% endblock content %}