<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        {%block style%}{%endblock%}
            {%block title%}{%endblock%}

                <link rel="stylesheet" href="/styles.css">

            </head>
            <body>
                <header>
                    <div class="menu">
                        <a href="/teacher">Teachers </a>
                        <a href="/students">Students</a>
                        {% block log %}{% endblock log %}
                    </div>
                </header>

                {%block content%}

                      {% block filter %}
                {% endblock filter %}
                
                {%endblock content%}
          
                {% block script %}
                
                    <script src="/scripts.js"></script>

                    {% endblock script %}


                    {% block formDelete %}
                    <script>
                            const formDelete =document.querySelector("#form-delete")
                        formDelete.addEventListener("submit",function(event){
                        const confirmation = confirm("Deseja Deletar?")
                        if(!confirmation){
                        event.preventDefault()
                            }
                        })
                    </script>
                    {% endblock formDelete %}
                  
     </body>
</html>